.favorable {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.moderate {
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
.severe {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.capitalize {
    text-transform: capitalize;
}